html {
    font-size: 14px;
    background-color: #2b6348;
}

h1, h2, h3, h4, h5, h6, p {
    color: white;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

a {
    color: white;
}

.btn-primary {
    background-color: #008000;
}

.output-text {
    color: #000000;
    background-color: #3cb371;
    border-radius: 10px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem #2b6348, 0 0 0 0.25rem #00ff00;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #2b6348;
    margin-bottom: 60px;
}