<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div style="width: 600px; height: 500px">
    <canvas id="MyChart"></canvas>
</div>

<script>
    const labels = ['Sep', 'Oct', 'Nov', 'Dec'];
    const data = {
        labels: labels,
        datasets: [{
            label: 'Rate of Plants\'s growth',
            data: [65, 59, 80, 81],
            fill: true,
            borderColor: 'black',
            tension: 0.1
        }]
    };
    
    const config = {
        type: 'line',
        data: data,
    };

    const ctx = document.getElementById('MyChart');
    new Chart(ctx, config);
</script>